

  .ProductoContainerfondo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://img.freepik.com/vector-premium/fondo-naturaleza-borrosa-desenfocado-mas-alla-ventana-ilustracion-vectorial-fuera-foco-hermosa-ilustracion-verano-o-primavera_570429-18470.jpg?w=900");
  }
  .ProductoContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: px;
    text-align: center; 
  }