.carritocompras{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://cdn.pixabay.com/photo/2016/11/07/12/48/jeans-1805710_1280.jpg");

   min-height: 100%; 
}

.carritocomprastitulo{
    font-size: 2rem;
    text-align: center;
    font-family: Arial, 'Times New Roman', Times, serif;
    color:  red;
}

.detalledecompra{
    background-color:transparent;
    margin: 10px;
    
    
}

.detalledecompra{
 margin-left: 10rem ;
}


.carttotal{
    background: rgb(0, 225, 255);
   text-align: end;
}